body {
  background-color: #ffffff;
  font-family: Arial;
  margin: 0;
}

.header {
  background-color: #ccc;
  text-align: center;
  padding: 10px;
}

.navbar {
  background-color: #999;
  text-align: center;
  padding: 5px;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.container {
  display: table;
  width: 100%;
}

.left, .center, .right {
  display: table-cell;
  vertical-align: top;
  padding: 10px;
}

.left {
  background-color: #eee;
  width: 20%;
}

.center {
  background-color: #fff;
  width: 60%;
}

.right {
  background-color: #f5f5f5;
  width: 20%;
}

.footer {
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  font-size: small;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: goldenrod;
  color: white;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
